<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="839056d8-c66b-4bee-95f5-7839f89e8a0b" Alias="contentFolder" Level="1">
  <Info>
    <Name>Content Folder</Name>
    <Icon>icon-folder-outline color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ContentFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7ad653cb-a16f-4be8-98ac-24766dc971c7">ContentFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e0d67527-30c9-49fc-9506-65bf7a00998a" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>