<?xml version="1.0" encoding="utf-8"?>
<Content Key="915ea334-7ed3-4c9f-9a9a-48035f37a88c" Alias="Import Folder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImportFolder</Path>
    <Trashed>false</Trashed>
    <ContentType>contentFolder</ContentType>
    <CreateDate>2023-07-06T17:55:06</CreateDate>
    <NodeName Default="Import Folder" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ad653cb-a16f-4be8-98ac-24766dc971c7">ContentFolder</Template>
  </Info>
  <Properties />
</Content>